<!DOCTYPE html>
<html>
  <head>
    <title>Weathermood</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/ejs_production.js"></script>
  </head>
  <body>
    <div id="container"><div>
  </body>
  <script src="js/weathers.js"></script>
  <script src="js/home.js"></script>
</html>
