<!DOCTYPE html>
<html>
  <head>
    <title>Weathermood</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/ejs_production.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Imi0RvumYKJOd6_5vlT0fPdy8P_kdYc&sensor=true">
    </script>
  </head>
  <body>
    <div id="container"><div>
  </body>
  <script src="js/home.js"></script>
</html>
